/*
/.**

!/.bin/
!/.bin/**

!/.bash_profile
!/.bashrc
!/.Brewfile
!/.tmux/
!/.tmux/plugins/
/.tmux/plugins/**
!/.tmux.conf
!/.vim/
!/.vim/autoload/
/.vim/autoload/**
!/.vimrc
!/.zplug/
/.zplug/**
!/.zshenv
!/.zshrc
!/.zshrc.Darwin
!/.zshrc.Linux

!/README.md

!/.gitconfig
!.gitignore
!.gitkeep
